
<div class="jumbotron">
  <h1 class="display-4">Comparador, super power!</h1>
  <p class="lead">Comparador que permite ingresar dos números (A y B) e imprime por pantalla el resultado dependiendo de la operacion.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href='/ingresar' role="button">Ingresar</a>
</div>
