<div class="row justify-content-center">
  <div class="col-6">
    <body class='container' >
		<h2 > Resultado de la comparacion:  <%=@resultado%> </h2 >
	</body >
    <p><a class="btn btn-primary" href='/'>Volver al Inicio</a></p>
  </div>
</div>