
<div class="container">
  <div class="row">
    <div class="col">
    
      <img class="pic" src="images/Hector.jpeg" alt="Héctor A. Abasto Profile Image">
      <h3></h3>
      <h3><p class="text-center"><strong>Héctor A. Abasto</strong></p></h3>
      <h4><p class="text-center">Unix Administrator at IBM Argentina</p></h4>
      <ul class="list-unstyled">
      <p class="text-justify">I am Hector, work at IBM 10 years ago, at this time as part of the squad of Sales and Marketing. 
      Experienced Unix Administrator with a demonstrated history of working in the information technology and services industry. Skilled in Linux System Administration, AIX System Administration, SUN Solaris, Virtualization, Shell Scripting, Compliance and Security. Strong information technology professional graduated from IT College. 
      </p>
      <hr class="my-4">

      <p><strong>Personal information</strong></p>
        <ul>
          <li><span class="text-color-dark">Birthday:</span> <span class="custom-text-color-2">August 9</span></li>
          <li><span class="text-color-dark">Nationality:</span> <span class="custom-text-color-2">Argentinian</span></li>
          <li><span class="text-color-dark">Phone:</span> <span class="custom-text-color-2">+54-11 5286-3797 (Office)</span></li>
          <li> <span class="text-color-dark">Email:</span> <span class="custom-text-color-2"><a class="custom-text-color-2" href="mailto:info@domain.com">abasto@ar.ibm.com</a></span></li>
          <li><div class="slack-button-holder slack-header" tabindex="2"><span class="slack-title">Slack: <a href="https://ibm.enterprise.slack.com/user/@W4CAM6P6H" target="_blank" class="slack-username-link">@abasto</a></span></div></li>
        </ul>
    
      <hr class="my-4">

      <p><strong>Social media profile </strong></p>
      <h3></h3>
        <ul>
          <a href="https://w3.ibm.com/bluepages/profile.html?uid=000347613" class="btn btn-primary stretched-link"><strong>BluePages</strong></a>
          <a href="https://www.linkedin.com/in/héctor-a-a-24960917" class="btn btn-primary stretched-link"><strong>Linkedin</strong></a>
        </ul>
    </div>
  </div>
</div>