<div class="jumbotron">
  <img class="center-block img-responsive mb-3" src="/images/BA2016.png">
  <h2></h2>
  <h1 class="display-4">Citizen Attention Demands</h1>
  <h1 class="display-5">City of Buenos Aires</h1>
  <p class="lead">AMD system (Add / Modify / Cancel)</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href='/demand/new' role="button">Create new demand</a>
  <a class="btn btn-primary btn-lg" href='/demand/list' role="button">Demands list</a>
  <a class="btn btn-primary btn-lg" href='/new_category' role="button">Add new category</a>
  <a class="btn btn-primary btn-lg" href='/information' role="button">Information</a>
  <a class="btn btn-primary btn-lg" href='/statistics' role="button">Statistics</a>
</div>