<div>
    <table class="table table-responsive">
      <thead>
        <th>Information to consult</th>
        <th>Actions</th>
      </thead>
      <h10>
        <tbody>
		<tr>
            <td>In which commune more applications were opened?</td>
            <td><a href="/information/question_1">Details</a></td>
		</tr>
		<tr>
            <td>On what date were more applications opened?</td>
            <td><a href="/information/question_2">Details</a></td>
		</tr>
        
        <tr>
            <td>In which month were more applications closed?</td>
            <td><a href="/information/question_3">Details</a></td>
        </tr>

        <tr>
            <td>What is the commune with the demand that has been open the longest?</td>
            <td><a href="/information/question_4">Details</a></td>
        </tr>

        <tr>
            <td>For each Gender, what is the category that has more demands?</td>
            <td><a href="/information/question_5">Details</a></td>
        </tr>
        
        <tr>
            <td>List the applications that started and ended within a month (enter the query month)</td>
            <td><a href="/information/month">Details</a></td>
        </tr>
        </tbody>
      </h10>
    </table>
  </div>
  <hr class="my-4">
<div class="row  justify-content">
  <div class="col-6" >
    <p><a class="btn btn-primary" href='/'>Back Home</a></p>
  </div>
</div>