<div>
    <table class="table table-responsive">
      <thead>
        <th>Statistics</th>
        <th>Actions</th>
      </thead>
      <h10>
        <tbody>
		<tr>
            <td>Quantity of demands per commune</td>
            <td><a href="/statistics/option_1">Details</a></td>
		</tr>
		<tr>
            <td>List the 5 communes that opened the most demands</td>
            <td><a href="/statistics/option_2">Details</a></td>
		</tr>
		<tr>
            <td>List the 5 demands that took the longest to close</td>
            <td><a href="/statistics/option_3">Details</a></td>
		</tr>
		<tr>
            <td>List the 5 categories with more demands</td>
            <td><a href="/statistics/option_4">Details</a></td>
		</tr>
		<tr>
            <td>Quantity of demands per day of the week</td>
            <td><a href="/statistics/option_5">Details</a></td>
		</tr>
		<tr>
            <td>Percentage of demands by category</td>
            <td><a href="/statistics/option_6">Details</a></td>
		</tr>
		<tr>
            <td>Percentage of demands by channel</td>
            <td><a href="/statistics/option_7">Details</a></td>
            </tr>	
            <tr>
            <td>List the 5 communes that have the worst demands resolution time</td>
            <td><a href="/statistics/option_8">Details</a></td>
		</tr>						
        </tbody>
      </h10>
    </table>
  </div>
  <hr class="my-4">
<div class="row  justify-content">
  <div class="col-6" >
    <p><a class="btn btn-primary" href='/'>Back Home</a></p>
  </div>
</div>