
<% if @result.empty? %>
  <div class="alert alert-danger" role="alert">
    <p>There are no closed demands.</p>
  </div>

<% else %>
  <div class="row justify-content-center" >
    <div class="col-4">
      <table class="table table-responsive">
        <thead>
          <th>Result</th>
        </thead>
        <h10>
          <tbody>
            <% @result.each do |result| %>
                <tr>
                    <td><%= result.first %></td>
                </tr>
            <% end %>
          </tbody>
        </h10>
      </table>
    </div>
  </div>
<% end %>

  <hr class="my-4">
  <p><a class="btn btn-primary" href='/statistics'>Back to statistics</a></p>
