<div class="row justify-content-center">
  <div class="col-6">
    <body class='container' >
		<h4 > Numero de cuenta creada:  <%=@numero_cuenta%> </h4 >
	</body >
  <p><a class="btn btn-primary" href='/'>Ir al Inicio</a></p>
  </div>
</div>