
<div class="jumbotron">
  <h1 class="display-4">Administrador de Cuentas Corrientes</h1>
  <p class="lead">Podrá crear, borrar y operar sus Cuentas Corrientes.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href='/cuentas/nueva' role="button">Crear nueva cuenta</a>
  <a class="btn btn-primary btn-lg" href='/cuentas/lista' role="button">Listar cuentas disponibles</a>
</div>